body {
  background-color: #213555;
  color: #f0f0f0;
  margin: 0px; /*margin 0 to not leave stripes on the edges*/
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 4rem;
  margin: 3rem 0rem 1rem 1rem;
}

/*Subheadings*/
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
}

.main-container {
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column; /*sections stack top to bottom*/
  align-items: center; /*page content centered*/
}

.container {
  flex: 1; /*shrink and grow with screen*/
  max-width: 1200px; /*content won't stretch out over big screens*/
  margin: 1rem 2rem;
}

/*Profile picture*/
#profile-img {
  max-width: 300px;
  float: right; /*floats to the right of presentation text*/
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/*Yellow container in the middle*/
.mid-container {
  background-color: #e5d283;
  color: #213555;
  width: 100vw; /*yellow background will stretch over screen*/
  display: flex;
  justify-content: center; /*content centered in yellow section*/
}

.cards {
  display: flex; /*cards go next to each other*/
  gap: 2rem;
}

.card {
  flex: 1; /*for screen responsiveness*/
  margin-bottom: 2rem;
}

/*Images in the Project section*/
.card-img {
  width: 270px;
  height: 200px;
  object-fit: cover; /*images will be same size without distorting*/
  float: left;
  padding-right: 1rem;
}

.project-link {
  color: #213555;
  text-decoration: none;
}

.project-link:hover {
  /*to clarify links on hover*/
  color: #4f709c;
}

/*Lighter blue box in bottom section*/
.blue-box {
  background-color: #4f709c;
  padding: 2rem 5rem;
  margin: 5rem;
  box-shadow: 10px 10px 20px rgb(30, 32, 43);
}

footer {
  background-color: #4f709cb7;
  width: 100vw;
  flex: 1;
  text-align: center; /*icons centered*/
  box-shadow: 0px -3px 7px rgb(30, 32, 43);
}

/*Font Awesome icons*/
i {
  font-size: 3rem;
  margin: 2rem;
}
/*for icon links*/
.logo {
  color: #17253b;
  text-decoration: none;
}

.logo:hover {
  /*icons/links change color on hover*/
  color: #e5d283;
}

@media (max-width: 950px) {
  #profile-img {
    max-width: 200px;
  }

  .yellow {
    text-align: center;
  }

  .cards {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .card-img {
    float: none;
    padding: 0px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .blue-box {
    padding: 1rem 2rem;
    margin: 1rem;
  }

  .presentation {
    display: flex;
    flex-flow: column wrap;
  }
}
