body {
  background-color: #213555;
  color: #f0f0f0;
  margin: 0px;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 4rem;
  margin: 3rem 0rem 1rem 1rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
}

.main-container {
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.container {
  flex: 1;
  max-width: 1200px;
  margin: 1rem;
}

#profile-img {
  max-width: 300px;
  float: right;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.mid-container {
  background-color: #e5d283;
  color: #213555;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 2rem;
}

.card {
  flex: 1;
  margin-bottom: 2rem;
}

.card-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  float: left;
  padding-right: 1rem;
}

.project-link {
  color: #213555;
  text-decoration: none;
}

.project-link:hover {
  color: #4f709c;
}

.blue-box {
  background-color: #4f709c;
  padding: 2rem 5rem;
  margin: 5rem;
  box-shadow: 10px 10px 20px rgb(30, 32, 43);
}

footer {
  background-color: #4f709cb7;
  width: 100vw;
  flex: 1;
  text-align: center;
  box-shadow: 0px -3px 7px rgb(30, 32, 43);
}

i {
  font-size: 3rem;
  margin: 2rem;
}

.logo {
  color: #17253b;
  text-decoration: none;
}

.logo:hover {
  color: #e5d283;
}
